<div class="section-container">
  <h2>Latest Orders</h2>
  <table class="table table-inverse table-hover">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Customer</th>
        <th>Amunt</th>
        <th>Order Placed</th>
        <th>Order Fulfilled</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.id }}</td>
        <td>{{ order.customer.name }}</td>
        <td>{{ order.total }}</td>
        <td>{{ order.placed | date: "short" }}</td>
        <td>{{ order.completed | date: "short" }}</td>
        <td>status</td>
      </tr>
    </tbody>
  </table>
  <!-- recibe la emisiones de los botones next, previous(igual que en vue) -->
  <!-- $event es un number por la definicion de goPage en el pagination.component.ts -->
  <!-- Cada ves que se modifica alguna propieda ([page], [perPage] o [count], este componente(app-pagination), se vuelve a renderizar.) -->
  <app-pagination
    [page]="page"
    [perPage]="limit"
    [count]="total"
    (goPage)="goToPage($event)"
    (goPrev)="goToPrevious()"
    (goNext)="goToNext()"
  >
  </app-pagination>
</div>
